<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue.js"></script>
    <script src="./lib/vue-resource.js"></script>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.css" />
</head>

<body>
    <div id="app">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <!-- <label>
                    Id:
                    <input type="text" v-model="id">
                </label> -->

                <label>
                    Name:
                    <input type="text" v-model="name" class="form-control">
                </label>
                <input type="button" value="添加" @click="add" class="btn btn-primary">
            </div>
        </div>

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in list" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.ctime}}</td>
                    <td>
                        <a href="" @click.prevent="del(item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <script>

        // 如果我们通过全局配置了，请求的数据接口，根域名，则，在每次单独发起http请求的时候，请求的 url 路径，应该以相对路径开头，前面不能带 / , 否则不会启用根路径做拼接
        Vue.http.options.root='http://vue.studyit.io/';
        // 全局启用 emulateJSON 选项
        vue.http.options.emulateJSON = true;

        var vm = new Vue({
            el: '#app',
            data: {
                name:"",
                list: [{
                        id: 1,
                        name: '红菱宏光',
                        ctime: new Date()
                    },
                    {
                        id: 2,
                        name: '众泰',
                        ctime: new Date()
                    }
                ]
            },
            created(){// 当 vm 实例的 data 和 methods 初始化完毕后，vm实例会自动执行created这个生命周期函数
                this.getAllList()
            },
            methods: {
               
                getAllList(){ // 获取所有的车的品牌列表
                    // 1. 由于已经导入了 Vue-resource这个包，所以可以通过 this.$http 来发起数据请求
                    // 2. 根据接口API文档，知道，获取列表的时候，应该发起一个get请求
                    // 3. this.$http.get('url').then(function(result){});
                    // 4. 当通过 then 指定回调函数之后，在回调函数中，可以拿到数据服务器返回的 result
                    // 5. 先判断 result.status 是否等于0，如果等于0，就成功了，可以把result.message 赋值给 this.list; 如果不等于0，可以弹框提醒，获取数据失败
                    this.$http.get('api/getprodlist').then(result =>{
                        // 注意： 通过 $http 获取到的数据，都在 result.body 中放着
                        var result= result.body;
                        if(result.status === 0 ){
                            this.list = result.message;
                        }else{
                            alert("获取数据失败！");
                        }
                    });
                },
                add(){ // 1.添加品牌列表到后台服务器
                    // 2.this.$http.post() 中接受的三个参数：
                    //   第一个参数： 要请求的URL地址
                    //   第二个参数： 要提交给服务器的数据，要以对象形式提交给服务器{name:this.name}
                    //   第三个参数： 是一个配置对象，要以哪种表单数据类型提交过去，{emulateJSON: ture},
                    //        以普通表格式，将数据提交给服务器 application/x-www-form-urlencoded
                    // 3. 在post方法中，使用.then 来设置成功的回调函数，如果想要拿到成功的结果，需要result.body
                    this.$http.post('api/addproduct',
                    {name:this.name}/*,
                    {emulateJSON:true}*/).then(result => {
                        if(result.body.status ===0){
                            // success,刷新品牌列表
                            this.getAllList()
                             // 清空name
                             this.name = ''
                        }else{
                            alert("添加失败");
                        }
                    });
                },
                del(id){ // 删除品牌
                    this.$http.get('http://vue.studyit.io/api/delproduct/' + id).then(result =>{
                        if(result.body.status === 0 ){
                            // 删除成功
                            this.getAllList();
                        }else{
                            alert('删除失败');
                        }
                    });
                }
            }
        });
    </script>
</body>

</html>